form{
    width: 300px;
}
.mainContainer{
    width: 40%;
    margin: auto;
    margin-top: 100px;
}
.inputField:focus{
    background: black !important;
    outline: solid 2px black !important;
    color: white;
}

.inputfield:hover{
    outline: none !important ;
}

p{
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}
#errorMessage{
    margin: 5px;
    color: red;
    font-weight: 600;
    padding: 5px;
    font-size: 12px !important;
    background: black;
}
.error{
    display: none;
}